body{
  margin: 0;
}
.footer .contact{
  flex: 1;
  margin: 10px;
}
 
.footer .social_media{
  flex: 1;
  margin: 10px;
}
.footer .map{
  flex: 1;
  margin: 10px;
}
footer .footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 80px;
}
input {
  box-shadow: 5px 5px 10px 1px black;
  border-radius: 10px;
}
input:hover{
  box-shadow: 9px 9px 10px 1px rgb(37, 36, 36);
  transition: 1s;
}
.content{
  border-radius: 50px;
  box-shadow: 10px 10px 5px 1px blacks;
}
