

.chalk-board-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 15px;
}

body{
    margin: 0;
}

.chalk-board{
    border: 50px solid transparent;
    border-image: url(img/Woodframe_chalkboard.jpg) 50 round;
    background-image: url("img/Chalkboard_24x36_web.jpg");
    background-color: gray;
    background-blend-mode: darken;

    padding: 50px 50px 50px 50px;

    font-family: "Caveat Brush";
    font-weight: 400;
    font-style: normal;
    color: white;
}

.bullet-none{
    list-style-type: none;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
}

.prices{
    display: flex;
    justify-content: space-between;
}